<h1>HERE'S THE MENU</h1>

<menuleft>
	<div>
	  <ul>
	    <li id:"sand_name">The Sensuous Sandwich</li>
	      <li id:"sand_desc">Ham, Turkey, and Roast Beef with Jack Cheese</li>
	    <li id:"sand_name">The Stimulator </li>
	      <li id:"sand_desc">Ham and Turkey with Your Choice of Cheese </li>
	    <li id:"sand_name">The Enticer </li>
	      <li id:"sand_desc">Pastrami with Jack Cheese </li>
	    <li id:"sand_name">The Spicy Enticer </li>
	      <li id:"sand_desc">Pastrami, Pepperoni, and Italian Sausage with Your Choice of Cheese </li>
	    <li id:"sand_name">The Tantalizer </li>
	      <li id:"sand_desc">Pastrami, Roast Beef, and Turkey with Jack Cheese </li>
	    <li id:"sand_name">The Satisfier </li>
	      <li id:"sand_desc">Chicken Breast with Jack Cheese </li>
	    <li id:"sand_name">The Succulent Seafood Delight </li>
	      <li id:"sand_desc">Crab and Assorted Seafood with Your Choice of Cheese </li>
	  </ul>
	</div>
</menuleft>

<menuright>
  <div>
    <ul>
	    <li id:"sand_name">The Au Natural </li>
	    	<li id:"sand_desc">Olives and Cream Cheese </li>
	    <li id:"sand_name">The American Dream </li>
	    	<li id:"sand_desc">Roast Beef with Your Choice of Cheese </li>
	    <li id:"sand_name">The Big Dipper </li>
	    	<li id:"sand_desc">Roast Beef with Au Jus and Your Choice of Cheese </li>
	    <li id:"sand_name">The Super Saucy </li>
	    	<li id:"sand_desc">Roast Beef Smothered in Barbecue Sauce with Your Choice of Cheese </li>
	    <li id:"sand_name">The Figmentation </li>
	    	<li id:"sand_desc">Your Choice of Meats and Cheese </li>
	    <li id:"sand_name">The Sorry, Charlie </li>
	    	<li id:"sand_desc">Tuna with Your Choice of Cheese </li>
	    <li id:"sand_name">The Bodacious </li>
	    	<li id:"sand_desc">Ham and Salami with Your Choice of Cheese </li>
	  </ul>
	</div>
</menuright>