<h1>The Menu</h1>
<h3>All sandwiches are sold by length!</h3>
<size>
	<div id='sandwich_length'>
		<ul>
			<li>4"</li>
			<li>6"</li>
			<li>8"</li>
			<li>10"</li>
			<li>12"</li>
			<li>16"</li>
			<li>24"</li>
		</ul>
	</div>

	<div id='sandwich_price'>
		<ul>
			<li>$3.69</li>
			<li>$5.39</li>
			<li>$6.79</li>
			<li>$7.79</li>
			<li>$8.79</li>
			<li>$12.09</li>
			<li>$17.49</li>
		</ul>
	</div>
</size>

<menuleft>
	<div>
	  <ul>
	    <li id="sand_name">The Sensuous Sandwich</li>
	      <li id='sand_Desc'>Ham, Turkey, and Roast Beef with Jack Cheese</li>
	    <li id="sand_name">The Stimulator </li>
	      <li id="sand_Desc">Ham and Turkey with Your Choice of Cheese </li>
	    <li id="sand_name">The Enticer </li>
	      <li id="sand_Desc">Pastrami with Jack Cheese </li>
	    <li id="sand_name">The Spicy Enticer </li>
	      <li id="sand_Desc">Pastrami, Pepperoni, and Italian Sausage with Your Choice of Cheese </li>
	    <li id="sand_name">The Tantalizer </li>
	      <li id="sand_Desc">Pastrami, Roast Beef, and Turkey with Jack Cheese </li>
	    <li id="sand_name">The Satisfier </li>
	      <li id="sand_Desc">Chicken Breast with Jack Cheese </li>
	    <li id="sand_name">The Succulent Seafood Delight </li>
	      <li id="sand_Desc">Crab and Assorted Seafood with Your Choice of Cheese </li>
	  </ul>
	</div>
</menuleft>

<menuright>
  <div>
    <ul>
	    <li id="sand_name">The Au Natural </li>
	    	<li id="sand_Desc">Olives and Cream Cheese </li>
	    <li id="sand_name">The American Dream </li>
	    	<li id="sand_Desc">Roast Beef with Your Choice of Cheese </li>
	    <li id="sand_name">The Big Dipper </li>
	    	<li id="sand_Desc">Roast Beef with Au Jus and Your Choice of Cheese </li>
	    <li id="sand_name">The Super Saucy </li>
	    	<li id="sand_Desc">Roast Beef Smothered in Barbecue Sauce with Your Choice of Cheese </li>
	    <li id="sand_name">The Figmentation </li>
	    	<li id="sand_Desc">Your Choice of Meats and Cheese </li>
	    <li id="sand_name">The Sorry, Charlie </li>
	    	<li id="sand_Desc">Tuna with Your Choice of Cheese </li>
	    <li id="sand_name">The Bodacious </li>
	    	<li id="sand_Desc">Ham and Salami with Your Choice of Cheese </li>
	  </ul>
	</div>
</menuright>