* {
	font-family: Arial;
}

body {
	background-image: linear-gradient(to right, rgb(250, 255, 100), rgb(100, 255, 255))
}

img {
	display: block;
	margin: auto;
	clear: both;
}

#facebook {
	position: absolute;
	display: block;
	right: 10px;
	top: 0px;
}

#provo_address {
	position: absolute;
	top: 500px;
	left: 150px;
}

#provo_address ul li {
	text-align: center;
	display: block;
}

#orem_address {
	position: absolute;
	top: 500px;
	right: 150px;
}

#orem_address ul li {
	display: block;
	text-align: center;
}

size {
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #d1d1d1;
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
#sandwhich_length ul li {
	display: inline-block;
	margin: 0px 70px 0px 70px;
	bottom: 0px;
}

#sandwhich_price ul li {
	display: inline-block;
	margin: 0px 60px 0px 60px;
	bottom: 0px;
}

.provoloc {
	float: left;
	left: 30px;
}

.oremloc {
	float: right;
}

hours {
	position: relative;
	text-align: center;
}

menuleft {
	float: left;
}

menuright {
	float: right;
}

menuleft ul li {
  list-style: none;
}

menuright ul li {
	list-style: none;
}

#sand_desc {
  font-style: italic;
}