/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: Arial;
}

body {
	background-image: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0))
}

img {
	display: block;
	margin: auto;
	clear: both;
}

#facebook {
	position: absolute;
	display: block;
	right: 10px;
	top: 0px;
}

#provo_address {
	position: absolute;
	top: 550px;
	left: 200px;
}

#provo_address ul li {
	display: block;
}

#orem_address {
	position: absolute;
	top: 550px;
	right: 200px;
}

#orem_address ul li {
	display: block;
}

size {
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #d1d1d1;
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
#sandwhich_length ul li {
	display: inline-block;
	margin: 0px 70px 0px 70px;
	bottom: 0px;
}

#sandwhich_price ul li {
	display: inline-block;
	margin: 0px 60px 0px 60px;
	bottom: 0px;
}

.provoloc {
	float: left;
	left: 30px;
}

.oremloc {
	float: right;
}

hours {
	position: relative;
	text-align: center;
}
